ion-view(title='"Search"')
    ion-content(has-header='true', overflow-scroll='true')
        
        form.card.list(ng-submit='search.execute(search.query)', auto-direction='{{ search.query }}')
            label.item.item-input
                input(
                    type='search',
                    placeholder='Search in the Holy Quran',
                    ng-model='search.query',
                    ng-change='progress.status="init"'
                    )
                button.button.button-small.button-positive.button-icon(type='submit') Search
                    i.icon.placeholder-icon.ion-search
                
        div(ng-switch='progress.status')
            div(ng-switch-when='ready')
                .card.list.sura(ng-repeat='sura in search.results')
                    h2.sura-name.search.item.item-devider {{ sura[options.sura_name] }}
                    a.sura-body.item.item-text-wrap(
                     ui-sref='reader({ current: {{ aya.page_id }}, type: "page", highlight: "{{ search.query }}" })',
                     ng-repeat='aya in sura.ayas')
                        span.aya-text.layers.search(colorize='{{ aya.uthmani }}') {{ aya[options.aya_mode] }}
                        i.aya-number.search {{ aya.aya_id }}
                    //- a.item.item-devider
                        | 2 more results

            .card.text-center(ng-switch-when='searching')
                .item.item-body
                    i.icon.placeholder-icon.ion-loading-c.icon-large

            div(ng-switch-default)
                .card(ng-if='!options.search.online.enabled')
                    .item.item-text-wrap
                        | This app can provide advanced search results using Al-Fanous Quranic API.
                        br
                        b Do you want to turn on online results?
                    a(href='#').item.item-text-wrap.item-icon-left.positive
                        i.icon.ion-checkmark
                        | Yes
                    a(href='#').item.item-text-wrap.item-icon-left
                        i.icon.ion-close
                        | Maybe later
                    small.item.item-text-wrap.item-devider
                        | You can change this setting later in the Settings section
                .card.list
                    a.item.item-text-wrap.item-icon-left.positive(
                        ng-repeat='query in search.history',
                        auto-direction='{{ query }}',
                        ng-click='search.query = query; search.execute()'
                    )
                        i.icon.placeholder-icon.ion-android-clock
                        | {{ query }}

        .card.text-center(ng-if='progress.status == "ready" && search.results.length == 0')
            .item.item-body.item-devider
                i.icon.placeholder-icon.ion-alert.icon-large
            b.item.item-text-wrap Could not find anything matching "{{ search.query }}"
