doctype html
html(ng-app='quran', lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title(ng-bind='title') The Holy Quran
        for style in styles
            link(rel='stylesheet', href=style)
    body
        ion-nav-bar(animation='nav-title-slide-android', 
           type='bar-positive',
           back-button-type='button-positive',
           back-button-icon='ion-android-arrow-back')

        ion-nav-view(animation='slide-left-right')

        ion-footer-bar.bar.bar-footer(type='bar-stable')
            .button-bar
                button.button.icon.ion-navicon
                a(ui-sref='navigate').button.icon.ion-navigate
                a(ui-sref='preferences').button.icon.ion-ios7-gear
                button.button.icon.ion-ios7-more
        
        for script in scripts
            script(src=script)