doctype html
html(ng-app='quran', lang='en', manifest=manifest)
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title(ng-bind='title') The Holy Quran
        for style in styles
            link(rel='stylesheet', href=style)
        for icon in icons
            link(rel='icon', href=icon.path, sizes=icon.size)
    body
        ion-nav-bar.bar-header.nav-title-slide-android(ng-class='{ "bar-{{ options.theme }}": true }', align-title='left')
            ion-nav-back-button.button-icon
                i.ion-android-arrow-back
        ion-nav-view(animation='slide-left-right')
        for script in scripts
            script(src=script)